<script type="text/x-handlebars-template" id="recipe-details-lightbox">  
  <div class="col-10 offset-1 align-center" style="width: 18rem;" data-recipeApiId="${data.recipeApiId}">
		<img class="card-img-top" src="${data.image}" alt="${data.title}">
		<div class="card-body">
			<h5 class="card-title h5">${data.title}</h5>
			<p class="card-text">Ready in ${data.readyInMinutes} minutes</p>
			<p>Serves ${data.servings} people</p>
			{{#if data.loc==="index"}}
      		<div class="recipe-details-action">
				{{#if Cookies.get("userSession")}}
				<select>
					{{#each sessionData.recipeBooks}}
					<option value="{{id}}">{{name}}</option>
					{{/each}}
				</select>
				<button class='addToBookBtn btn btn-primary'>Add to recipe book</button>
				{{#else}}
				<button class='insideCardLoginBtn btn btn-default'>Log in/sign up to add it to recipe book</button>
				<form hidden method="POST" action="/users">
					<label>Username <input type="text" placeholder="username" required></label>
					<label>Password <input type="text" placeholder="password" required></label>
					<button>Log in</button>
					<button>Sign up</button>
					<button>Cancel</button>
				</form>
				{{/if}}
			</div>
			{{/if}}
			<hr>
			<h5 class='h5'>Ingredients</h5>
			<div>${ingredientsList.html()}</div>
			<h5 class="h5">Instructions</h5>
			<div>${data.instructions}</div>
		</div>
  </div>
</script>
