<!DOCTYPE html>
<html lang="en">
<head>
<title>Tasteful - Cook.Enjoy.Share</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
<style>
.error-content{
	background-color:#ebeef4;
	border-radius: 5px;
	padding:10px;
	margin-top:20px;
}
footer{
	color:lightgrey;
	margin-top:50px;
	text-align:center;
	font-size:0.6rem;
}
</style>
</head>
<body>	
	<header class='container-fluid header-template-container'>
		<nav class="navbar navbar-expand navbar-light bg-light col-md-10 offset-md-1">
		  	<div class="collapse navbar-collapse">
			    <ul class="navbar-nav ml-auto">
			      	<li class="nav-item loginToggle">
			    	</li>
			    </ul>
		  	</div>
		</nav>
		<h1 class='pageHeader h1 text-center'><a href="/home">Tasteful</a></h1>
		<p class='lead text-center'>Cook. Enjoy. Share.</p>
	</header>

	<main class='container-fluid'>
		<section class='error-content col-12 col-md-10 offset-md-1 text-center'>
			<header>
      	<h1 class="h5 col-12 text-center">Oops! something went wrong</h1>
    	</header>
	    <p>We are sorry, but looks like there is an error:</p>
	    <p>Code: {{statusCode}}</p>
	    <p>Message: {{errorMessage}}</p>
	  	<p>Please go back or return to the <a href='/'>Home Page</a></p>
	  </section>
	</main>

	<footer>
		<hr>
		<p>jiehan1029@gmail.com May 2018</p>
	</footer>

	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>	
</body>
</html>
