<nav class="navbar navbar-expand navbar-light bg-light col-md-10 offset-md-1">
  	<div class="collapse navbar-collapse">
	    <ul class="navbar-nav ml-auto">
		    \{{#if userLoggedIn}}
		    <li class="nav-item">
		        <p class="nav-link">Welcome! \{{userLoggedIn}}</p>
	      	</li>
	      	<li class="nav-item">
	        	<a class="nav-link recipebookLink" href="/recipe-books">My recipebook</a>
	      	</li>
	      	<li class="nav-item">
	      		<a class="nav-link logoutLink" href="#">Logout</a>
	  	  	</li>
	  	  	\{{else}}
	      	<li class="nav-item loginToggle">
	     		<a class="nav-link loginLink" href="#">
	     		Login/Signup</a>
	    	</li>
		    \{{/if}}
	    </ul>
  	</div>
</nav>
<a href='/' class='pageHeader h1 text-center'><a href="/">Tasteful</a></h1>
<p class='lead text-center'>Make. Enjoy. Share.</p>