
/* general & .banner, nav, login/signup modal */

body{ 
	box-sizing: border-box;
	min-width: 300px;
}

footer{
	color:lightgrey;
	margin-top:50px;
	text-align:center;
	font-size:0.6rem;
}

.banner{
	height:40vh;
	margin-bottom: 20px;
	background-image: url('https://res.cloudinary.com/rollercoaster/image/upload/v1527811909/22.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	color:white;
	text-shadow: 2px 2px grey;
}

.banner h1{
	margin-top:30px;
}

.banner a{
	color:white;
	text-decoration: none;
}

.banner h1 a:hover{
	background-color: grey;
	padding: 50px;
	padding-top: 20px;
}

nav a:hover{
	background-color:yellow;
	color:black;
	text-shadow: none;
}

nav li{
	padding-left:10px;
	padding-right: 10px;
}

/* login form styling */
.login-form .btn{
	margin-top:10px;
}

/* .banner img <a href="https://www.freepik.com/free-photo/texture-background_1167463.htm">Designed by Freepik</a> */



/* recipe search form styling */
.search-recipe-form .btn{
	margin:0px;
}
/* to fix the select row alignment */
.select-row{
	margin-left: 0px;
	margin-right: 0px;
}
