/* recipe book styling */
*{
	box-sizing: border-box;
}
.card{
	padding:0px;
}

.card img:focus, .card img:hover{
	border:5px solid green;
}

.card-img-top{
	width:100%;
	height:80px;
	object-fit: cover;
}

.card-add-new-book-form .btn,.card-add-new-book-form label{
	margin-top:5px;
	margin-bottom: 0px;
}

.add-new-book-div .card-img-top{
	background-color: yellow;
}

.deletion-modal-trigger:hover{
	border:1px solid darkgrey;
	box-shadow: 2px 2px 2px darkgrey;
}